.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-button-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25%;
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
    white-space: nowrap;
    text-align: center;
}

.pet-details-img {
    width: 100%;
    height: auto;  /* Maintain aspect ratio */
    max-height: 500px;  /* Add a max height to prevent overly large images */
    object-fit: cover;
    border-radius: 5px;
}


