/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
}

.navbar-brand, .nav-link, .nav-item .dropdown-toggle {
    color: #ffffff !important;
}

.navbar-toggler-icon {
    color: #ffffff;
    font-size: 1.25rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
}

.dropdown-menu {
    background-color: #343a40;
    border: none;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #495057;
}

@media (max-width: 767px) {
    .navbar-collapse {
        background-color: #343a40;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    
    .navbar-collapse.show {
        transform: translateX(0);
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        background-color: transparent;
        font-size: 1.5rem;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin: 15px 0;
    }

    .navbar-brand, .navbar-toggler-icon {
        margin-bottom: 30px;
    }
}
